#caixes {
    flex-direction: row;
    flex-wrap: wrap;
}

.pastilla {
    position: relative;
    left: -42px;
    z-index: 1;
    width: 1px;
}

.sino {
    position: relative;
    font-weight: bolder;
    background-color: red;
    color: white;
    width: 2rem;
    text-align: center;
    cursor: pointer;
}

.verd {
    position: relative;
    font-weight: bolder;
    background-color: green;
    color: white;
    width: 2rem;
    text-align: center;
    cursor: progress;
}

.gray {
    position: relative;
    font-weight: bolder;
    background-color: gray;
    color: white;
    width: 2rem;
    text-align: center;
    cursor: progress;
}

.br {
    text-shadow: 0 1px white;
    font-weight: bolder;
    color: #b8bec5;
}

.etiqueta,
.etiqueta2 {
    position: relative;
    font-weight: bolder;
    text-align: center;
    z-index: 1;
}

.quadrat {
    position: relative;
    border: 1px solid black;
    background-color: gray;
    opacity: 1;
    z-index: 0;
    cursor: pointer;
}

.rombo {
    position: relative;
    border: 1px solid black;
    background-color: gray;
    transform: rotate(45deg);
    opacity: 1;
    z-index: 0;
}

#nht {
    left: -487px;
    top: -40px;
    width: 108px;
    height: 50px;
}

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

#funciona {
    left: -309px;
    top: -18px;
    width: 82px;
    height: 82px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#hht {
    left: -116px;
    top: -183px;
    width: 75px;
    height: 75px;
}

#burro {
    left: -312px;
    top: -209px;
    width: 86px;
    height: 47px;
}

#hsa {
    left: -471px;
    top: -373px;
    width: 75px;
    height: 75px;
}

#lhc {
    left: -311px;
    top: -165px;
    width: 86px;
    height: 47px;
}

#ah {
    left: -140px;
    top: -235px;
    width: 117px;
    height: 47px;
}

#pcaa {
    left: -311px;
    top: -628px;
    width: 85px;
    height: 85px;
}

#edp {
    left: -132px;
    top: -575px;
    width: 106px;
    height: 106px;
}

#lh {
    left: -491px;
    top: -773px;
    width: 107px;
    height: 47px;
}

#np {
    left: -345px;
    top: -644px;
    width: 152px;
    height: 47px;
}

#funcionaSI {
    left: -358px;
    top: 70px;
}

#funcionaNO {
    left: -208px;
    top: 52px;
}

#funciona_l {
    left: -315px;
    top: 33px;
    width: 95px;
    pointer-events: none;
}

#nht_l {
    left: -468px;
    top: 4px;
    width: 71px;
    pointer-events: none;
}

#hhtSI {
    left: -163px;
    top: -79px;
}

#hhtNO {
    left: -94px;
    top: -35px;
}

#hht_l {
    left: -114px;
    top: -126px;
    width: 70px;
    pointer-events: none;
}

#b_l {
    left: -298px;
    top: -174px;
    pointer-events: none;
}

#lhc_l {
    left: -296px;
    top: -122px;
    width: 59px;
    pointer-events: none;
}

#hsaSI {
    left: -379px;
    top: -269px;
}

#hsaNO {
    left: -448px;
    top: -224px;
}

#hsa_l {
    left: -468px;
    top: -314px;
    width: 70px;
    pointer-events: none;
}

#ah_l {
    left: -131px;
    top: -201px;
    width: 101px;
    pointer-events: none;
}

#edpSI {
    left: -186px;
    top: -456px;
}

#edpNO {
    left: -94px;
    top: -389px;
}

#edp_l {
    left: -133px;
    top: -502px;
    width: 110px;
    pointer-events: none;
}

#pcaaSI {
    left: -284px;
    top: -410px;
}

#pcaaNO {
    left: -360px;
    top: -499px;
}

#pcaa_l {
    left: -303px;
    top: -549px;
    width: 70px;
    pointer-events: none;
}

#lh_l {
    left: -488px;
    top: -739px;
    width: 101px;
    pointer-events: none;
}

#np_l {
    left: -334px;
    top: -610px;
    width: 133px;
    pointer-events: none;
}